/*
Theme Name: وبلاگ مینیمال

Author: علیرضا حمید
Description: قالب وبلاگ شخصی من
Version: 1.0
Text Domain: alirezahamid
Tags: one-column, flexible-header, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, rtl-language-support, sticky-post, threaded-comments, translation-ready

*/



/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
    margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
    display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

sub {
    bottom: -0.25em; }

sup {
    top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
    /* 1 */
    overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
    /* 1 */
    text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
    display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
    display: none; }

@font-face {
    font-family: Vazir;
    src: url("./assets/fonts/Vazir.eot");
    src: url("./assets/fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Vazir.woff2") format("woff2"), url("./assets/fonts/Vazir.woff") format("woff"), url("./assets/fonts/Vazir.ttf") format("truetype");
    font-weight: normal; }

@font-face {
    font-family: Vazir;
    src: url("./assets/fonts/Vazir-Bold.eot");
    src: url("./assets/fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Vazir-Bold.woff2") format("woff2"), url("./assets/fonts/Vazir-Bold.woff") format("woff"), url("./assets/fonts/Vazir-Bold.ttf") format("truetype");
    font-weight: bold; }

@font-face {
    font-family: Vazir;
    src: url("./assets/fonts/Vazir-Thin.eot");
    src: url("./assets/fonts/Vazir-Thin.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Vazir-Thin.woff2") format("woff2"), url("./assets/fonts/Vazir-Thin.woff") format("woff"), url("./assets/fonts/Vazir-Thin.ttf") format("truetype");
    font-weight: 100; }

@font-face {
    font-family: Vazir;
    src: url("./assets/fonts/Vazir-Light.eot");
    src: url("./assets/fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Vazir-Light.woff2") format("woff2"), url("./assets/fonts/Vazir-Light.woff") format("woff"), url("./assets/fonts/Vazir-Light.ttf") format("truetype");
    font-weight: 300; }

@font-face {
    font-family: Vazir;
    src: url("./assets/fonts/Vazir-Medium.eot");
    src: url("./assets/fonts/Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Vazir-Medium.woff2") format("woff2"), url("./assets/fonts/Vazir-Medium.woff") format("woff"), url("./assets/fonts/Vazir-Medium.ttf") format("truetype");
    font-weight: 500; }

@font-face {
    font-family: Vazir;
    src: url("./assets/fonts/Vazir-Black.eot");
    src: url("./assets/fonts/Vazir-Black.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Vazir-Black.woff2") format("woff2"), url("./assets/fonts/Vazir-Black.woff") format("woff"), url("./assets/fonts/Vazir-Black.ttf") format("truetype");
    font-weight: 900; }

html, body {
    height: 100%;
    min-height: 100%;
    font-family: Vazir; }

body {
    background: #F0F2F4; }

.site_wrapper {
    height: 100%; }

.container {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 90%; }

ul, li {
    list-style-type: none;
    color: inherit; }

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer; }

.navBar {
    padding: .5em 0; }
.navBar_inner_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
@media (min-width: 768px) {
    .navBar_inner_container {
        flex-direction: row;
        justify-content: unset; } }
@media (min-width: 768px) {
    .navBar_menuButton {
        display: none; } }
.navBar_headline h1 {
    font-size: 18px; }
.navBar_menu {
    display: none;
    padding: 0;
    margin: 0 2em 0 0; }
@media (min-width: 768px) {
    .navBar_menu {
        display: flex; } }
.navBar_menu ul {
    display: flex;
    padding: 0; }
.navBar_menu ul li {
    margin: auto 1em;
    padding-bottom: .5em;
    border-bottom: 2px solid transparent;
    transition: .5s; }
.navBar_menu ul li:hover {
    border-bottom: 2px solid #4a4a4a;
    transition: .5s; }

.menuBar {
    display: none;
    background-color: white;
    padding: 1em 0;
    line-height: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 3.7em;
    z-index: 10; }
.menuBar_inner_container {
    display: flex;
    flex-direction: column; }
.menuBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
.menuBar a {
    text-decoration: none;
    color: black; }

.header {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02); }
.header_image {
    /*background-image: url('assets/images/codeCover.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}


.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
.intro_content {
    background-color: white;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    line-height: 1.5;
    border-radius: .5em;
    padding: 1em 2em;
    margin: 1em 0;
    text-align: justify; }
.intro_content h2 {
    text-align: center;
    color: #353535; }
.intro_social {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 70%;
    margin: 2em auto; }
.intro_social a {
    display: flex;
    align-items: center; }
.intro_social span {
    padding: 0 0 0 .2em; }

.footer {
    background-color: white;
    color: #4a4a4a;
    text-align: center;
    padding: 1em 2em;
    margin: 1em 0 0 0; }
.footer a {
    color: #3273dc; }

.main {
    flex-grow: 1;
    position: relative;
    bottom: 35%; }
.archive{
    bottom: 10%;
}
.main_wrapper {
    margin: 0 auto;
    padding: 0 1em; }
@media (min-width: 768px) {
    .main_wrapper {
        width: 80%; } }
@media (min-width: 1024px) {
    .main_wrapper {
        width: 50%; } }
@media (min-width: 768px) {
    .main {
        bottom: 20%; }
    .archive{
        bottom: 10%; }
        }
@media (min-width: 1024px) {
    .main {
        bottom: 15%; }
    .archive{
        bottom: 8%; }
}
.main_articles {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
.main_article {
    background-color: white;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    line-height: 1.5;
    border-radius: .5em;
    padding: 1em 2em;
    margin: 1em 0;
    text-align: justify; }
.main_article h2 {
    text-align: center;
    color: #353535;
    transition: .2s; }
.main_article h2:hover {
    color: #909AA0;
    transition: .2s; }
.main_article_detail {
    direction: ltr;
    text-align: center;
    color: #909AA0;
    margin: 1em auto 2em auto; }
.main_article_detail a {
    color: #3273dc;
    cursor: pointer;
    transition: .2s; }
.main_article_detail a:hover {
    color: #353535;
    transition: .2s; }
.main_article_footer {
    display: flex;
    flex-direction: column;
    line-height: 2.5;
    color: #909AA0;
    margin: 4em auto 1em auto;
    font-size: 14px; }
.main_article_footer a {
    text-decoration: none;
    color: inherit;
    background-color: rgba(10, 10, 10, 0.1);
    border-radius: 5px;
    padding: .2em .5em;
    margin: auto 0.3em;
    transition: .2s; }
.main_article_footer a:hover {
    color: whitesmoke;
    background-color: rgba(10, 10, 10, 0.7);
    transition: .2s; }
.main_article_footer li {
    list-style-type: none !important;
}
.main_article_footer span{
    display: flex;
    margin: auto 0 .5em auto;
}
.main_article_footer span ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.main_article_footer span ul li a{
    padding: .2em .5em;
}
.post_thumbnail {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02); }
.post_thumbnail_image {
    width: 100%;
    height: 500px;
    position: relative; }

.main_article_content p {
    font-size: 18px;
    line-height: 2; }

.main_article_content q {
    display: block;
    font-size: 22px;
    font-weight: 400;
    background-color: #f0f2f4;
    padding: 1em 1.5em;
    margin: 1em auto;
    border-right: 4px solid;
    border-radius: 10px; }

.main_article_content img {
    margin: 1em auto;
    width: 100%;
    border-radius: 10px;
    transition: .2s; }
.main_article_content img:hover {
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.7); }

.main_article_content li {
    list-style-type: disc; }